@model PizzaBox.Client.Models.OrderViewModel

<h1>View Customer Orders</h1>

<form asp-action="post" asp-controller="customer" asp-antiforgery="true" method="POST">
  <label for="user" asp-for="@Model.User">User:</label>
    <select name="user" id="user">
      @foreach (var user in Model.Users)
      {
          <option value="@user">@user</option>
      }
    </select>
  <br>
  <button type="submit">View Orders</button>
</form>