@model PizzaBox.Client.Models.OrderViewModel

<h1>View Store Orders</h1>

<form asp-action="post" asp-controller="store" asp-antiforgery="true" method="POST">
  User:<br>
  @foreach (var store in Model.Stores)
  {
      <input type="radio" asp-for="@Model.Store" value="@store">
      <label for="@store">@store</label>
  }
  <br>
  <button type="submit">View Orders</button>
</form>