@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-area="" asp-controller="Customer" asp-action="ViewCustomerOrders">View Customer Orders</a><br>
    <a asp-area="" asp-controller="Store" asp-action="ViewStoreOrders">View Store Orders</a><br>
    <a asp-area="" asp-controller="Customer" asp-action="NewUser">Create New User</a><br>
    <a asp-area="" asp-controller="Customer" asp-action="MakeOrder">Order Pizza</a>
</div>
